@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* css 초기화  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium", sans-serif;
}

body {
  font-size: 16px;
  background-color: #f6f8fa;
}

/* 공용 css 높이(세로) 가운데 정렬 */
.align_center {
  display: flex;
  align-items: center;
}
/* 공용 a 태그 꾸미기 */
a {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
